.mousetrap_lightbox
{
  font-family:arial,sans-serif;
  position:fixed;
  top:10%;
  left:15%;
  width:65%;
  height:65%;
  border-radius:10px;
  background-color:#222;
  opacity:0.85;
  z-index:1002;
  overflow:auto;
  color:#FFF;
  display:table;
  padding:25px;
}

#mousetrap_title
{
  margin-left:20px;
  padding-bottom:10px;
  font-size:1.17em;
  font-weight:700;
}

#mousetrap_table
{
  margin:7px;
}

#mousetrap_table > div
{
  display:table-row;
}

#mousetrap_table > div > div
{
  display:table-cell;
  padding:2px 4px;
}

#mousetrap_table > div > div:nth-child(1)
{
  width:50%;
}

#mousetrap_table > div > div:nth-child(3)
{
  width:47%;
}

.mousetrap_key
{
  font-family:'courier new', monospace;
  font-size:120%;
  color:#FF0;
}

.mousetrap_sequence
{
  text-align:right;
}