body {
    font-family: helvetica, arial, sans-serif;
    line-height: 20px;
}

table {
    border: 1px solid #aaa;
    padding: 5px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 8px;
    height: 25px;
}

.success {
    color: green;
}

.ready {
    background: #fff55e;
    /*color: #efbf00;*/
}

.failure {
    color: red;
}

.keypress, .keydown, .keyup {
    color: #555;
}

.na {
    font-size: 12px;
    color: #ccc;
}

td {
    text-align: center;
}

.result {
    font-size: 40px;

}

.combo {
    text-align: left;
}
